body{
    background-image: url("assets/index/back2.png");
    background-size: 3080px;
}

#OfficialTitle{
    font-size: 30;
    text-align: left;
    color: rgb(43, 255, 96);
}

#title{
    text-align: center;
    color: rgb(0, 195, 0);
    font-weight: 400;
    font-size: 25;
}
#description {
    background-color: green;
    font-size: 25px;
    font-size: 25px;
    font-family: Cursive;
    color: white;
    list-style:decimal;
    min-height: 450px;
}
#description ul{
    list-style: none;
}
h3{
    font-weight: normal;
}


#title2{
    text-align: center;
    color: rgb(0, 195, 0);
    font-weight: 400;
    font-size: 25;
}
#rules{
    display:flex;
    background-color: green;
    color: white;
    list-style:decimal;
    font-family: Cursive;
    font-size: 25px;
}
#rules ul{
    list-style: decimal;
}
#rules li{
    font-size: 30;
    width: 1050;
    min-width: 1050;
}
#rules li h4{
    font-size: 20;
}
#rules ul img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}