body{
    background-image: url("assets/index/back2.png");
    background-size: 3080px;
}

#Title{
    color: rgb(47, 255, 64);
    font-size: 50;
    font-style: italic;
    text-align: center;
}
    

#desc1{
    display:flex;
    height: 500px;
    background-color: green;
    color: white;
    list-style:none;
    font-family: Cursive;
    font-size: 25px;
}
#desc1 li {
    width: 1000px;
    min-width: 1000px;
}
#kalendarz{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h3{
    font-weight: normal;
}
#surowce{
    color:aliceblue;
}
#img2{
    display: block;
    margin-left: auto;
    margin-right: 0;
}