body{
    background-image: url("assets/index/back2.png");
    background-size: 3080px;
}

#OfficialTitle{
    font-size: 30;
    text-align: left;
    color: rgb(43, 255, 96);
}

#title{
    text-align: center;
    color: rgb(0, 195, 0);
    font-weight: 400;
    font-size: 25;
}
#containers {
    background-color: rgb(0, 128, 79);
    height: 500px;
}
#containers ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    text-align: center;
    justify-content: center;
}
#containers li{
    display: inline-block;
    padding: 20px;
}
#containers li a{
    display: block;
    text-align: center;
}


#title2{
    text-align: center;
    color: rgb(0, 195, 0);
    font-weight: 400;
    font-size: 25;
}
#rules{
    display:flex;
    background-color: green;
    color: white;
    list-style:decimal;
    font-family: Cursive;
    font-size: 25px;
}
#rules ul{
    list-style: decimal;
}
#rules li{
    font-size: 30;
    width: 1050;
    min-width: 1050;
}
#rules li h4{
    font-size: 20;
}
#rules ul img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}